## Assignment 1
**Deadline**: 8th December 2024

This assessment consists of 20 MongoDB queries, ranging from easy to hard. You are required to use the following sample data:

```json
{
    "students": [
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
    ]
}

```

Please submit your solutions by the given deadline.

1. Insert the given sample data into a MongoDB collection called 'students'.

In [ ]:
import pymongo

client=pymongo.MongoClient('mongodb://localhost:27017/')

mydb=client['students']
stuinfo=mydb.studentsinformation

In [ ]:
record=[
        {"name": "Rohit", "age": 23, "math_score": 85, "physics_score": 90, "city": "New York"},
        {"name": "Eram", "age": 22, "math_score": 78, "physics_score": 75, "city": "Los Angeles"},
        {"name": "Madan", "age": 24, "math_score": 95, "physics_score": 88, "city": "Chicago"},                                                  
        {"name": "Uvaish", "age": 21, "math_score": 60, "physics_score": 65, "city": "Houston"},
        {"name": "Neha", "age": 23, "math_score": 72, "physics_score": 80, "city": "Phoenix"}
]

stuinfo.insert_many(record)

2. Write a query to find all students who have a 'math_score' greater than 80.

In [ ]:
for student in stuinfo.find({'math_score':{'$gt':80}},{'physics_score': 0, 'city': 0}):
    print(student)

3. Write a query to find students whose 'age' is less than 23.

In [ ]:
for student in stuinfo.find({'age':{"$lt":23}},{'math_score': 0, 'physics_score': 0, 'city': 0}):
    print(student)

4. Write a query to return only the 'name' and 'math_score' of all students.

In [ ]:
for student in stuinfo.find({}, {"name": 1, "math_score": 1, "_id": 0}):
    print(student)

5. Write a query to find students from the city 'New York'.

In [ ]:
for student in stuinfo.find({"city": "New York"}):
    print(student)

6. Write a query to update the 'physics_score' of 'Bob' to 85.

In [ ]:
stuinfo.update_one(
{"name":"Bob"},
{"$set":{"physics_score":85}}
)

7. Write a query to delete the student 'David' from the collection.

In [ ]:
stuinfo.delete_one(
    {"name":"David"}
)

8. Write a query to find all students where 'math_score' is between 70 and 90 (inclusive).

In [ ]:
for student in stuinfo.find({"math_score" : {'$gt': 70 , "$lt" : 90}}):
    print(student)

9. Write a query to find students whose 'math_score' is greater than 'physics_score'.

In [ ]:
for student in stuinfo.find({"$expr": {"$gt": ["$math_score", "$physics_score"]}}):
    print(student)

10. Write a query to return students sorted by 'math_score' in descending order.

In [ ]:
for students in stuinfo.find().sort("math_score", -1):
    print(students)

11. Write a query using the aggregation framework to calculate the average 'math_score' of all students.

In [ ]:
average = [{"$group": {"_id": None, "average_math_score": {"$avg": "$math_score"}}}]

result = stuinfo.aggregate(average)

for student in result:
    print(student)

12. Write a query to group students by 'city' and count the number of students in each city.

In [ ]:
count = [
    {
        "$group": {
            "_id": "$city",  
            "student_count": {"$sum": 1} 
        }
    }
]
result = stuinfo.aggregate(count)

for students in result:
    print(students)

13. Write a query to find students who either have 'math_score' greater than 80 or 'physics_score' greater than 85.

In [ ]:
for students in stuinfo.find({"$or": [{"math_score": {"$gt": 80}}, {"physics_score": {"$gt": 85}}]}): 
    print(students)

14. Write a query to find students whose age is exactly 23 and live in 'Phoenix'.

In [ ]:
for student in stuinfo.find({"$and": [{"age": 23},{"city": "Phoenix"}]}):
    print(student)

15. Write a query to find students whose 'math_score' is not equal to 85.

In [ ]:
for student in stuinfo.find({"math_score": {'$ne': 85}}):
    print(student)

16. Write a query to find students whose 'name' starts with the letter 'A'.

In [ ]:
for student in stuinfo.find({"name": {'$regex': '^A'}}):
    print(student)

17. Write a query to find students whose 'city' is neither 'New York' nor 'Los Angeles'.

In [ ]:
for student in stuinfo.find({"city": {'$nin': ['New York', 'Los Angeles']}}):
    print(student)

18. Write a query to update all students with 'age' greater than 22 to add a new field 'graduated': true.

In [ ]:
stuinfo.update_many( {"age": {"$gt": 22}}, {"$set": {"graduated": True}} )

19. Write a query to remove the 'physics_score' field for students who live in 'Chicago'.

In [ ]:
stuinfo.update_many( {"city": "Chicago"}, {"$unset": {"physics_score": ""}} )

20. Write a query to find the student with the highest 'math_score'.

In [ ]:
for student in stuinfo.find().sort('math_score', -1).limit(1):
    print(student)